body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar button {
  background: none;
  color: white;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  text-decoration: underline;
}

.home-page {
  text-align: -webkit-center;
  align-items: center;
}

.home-page-heading {
  text-align-last: left;
  margin-left: 50px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: center;
  border: 1px solid;
  margin-bottom: 40px;
}

.save-recipe-btn {
  border: none;
  font-size: 15px;
  padding: 10px 25px 15px 25px;
  border-radius: 50px;
  cursor: pointer;
}

.save-recipe-btn:hover {
  font-size: 20px;
  transition: font-size 0.25s;
}
