body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar button {
  background: none;
  color: white;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  text-decoration: underline;
}

.home-page {
  text-align: -webkit-center;
  align-items: center;
}

.home-page-heading,
.create-recipe-heading,
.auth-heading {
  text-align-last: left;
  margin-left: 50px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: center;
  border: 1px solid;
  margin-bottom: 40px;
}

.save-recipe-btn {
  border: none;
  font-size: 15px;
  padding: 10px 25px 15px 25px;
  border-radius: 50px;
  cursor: pointer;
}

.save-recipe-btn:hover {
  font-size: 20px;
  transition: font-size 0.25s;
}

.auth-container,
.create-recipe-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.simple-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px 40px;
  width: 300px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
}
.simple-form input {
  padding: 5px 40px 5px 40px;
}
.simple-form label {
  font-weight: lighter;
}

.simple-form button {
  border: none;
  padding: 10px 25px 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 25px;
}
